/**
 * Black theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400);

$purple: #D109BE;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: darken($purple, 20%); // #111;

$mainFont: 'Open Sans', sans-serif;
$linkColor: #e7ad52;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$selectionBackgroundColor: #e7ad52;
$mainFontSize: 30px;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Overrides -----------------------------------

.reveal {
  h1 {
    font-family: 'Bungee', cursive;
  }

  img.logo {
    width: 500px;
    margin-top: -100px;
    margin-bottom: -50px;
    box-shadow: none;
    border: 0;
  }

  ul {
//    display: block;
  }

  section > ul li {
    margin-top: 20px;

    li {
      font-size: 0.8em;
    }
  }

  .sub {
    opacity: 0.6;
  }
}

.reveal pre code {
  padding: 15px;
  line-height: 1.4;
}
